<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio de Web Designer</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <script defer src="script.js"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <div class="nav-logo">
                <a href="#">Rodrigo<span>.</span></a>
            </div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
    <!-- Section Home -->
        <section id="home">
            <div class="autoShow">
                <div class="home-grid">
                    <div class="text-content">
                        <div class="dynamic-txt">
                            <span class="blink-up"></span>
                        </div>
                        <h1>Hello I'm</h1>
                        <h1><span>Rodrigo Anjos</span></h1>
                        <div class="home-text">
                            <p>I'm an intermediate programmer.</p>
                            <p id="home-text-2">Training to gain experience as a full-stack developer.</p>
                        </div>
                        <div class="container-info">
                            <a href="#" id="btn-cv">Download CV <i class="ri-download-2-line"></i></a>
                            <div class="container-contact">
                                <a class="logo" href="https://www.linkedin.com/in/rodrigo-anjos-5532a5196/" target="_blank" rel="noopener noreferrer"><i class="ri-linkedin-fill"></i></a>
                                <a class="logo" href="https://github.com/kikoanjos" target="_blank" rel="noopener noreferrer"><i class="ri-github-fill"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="profile-pic">
                        <img src="photo/Rodrigo_Anjos.png" alt="Rodrigo Anjos">
                        <span class="blackhole-border"></span>
                        <span class="blackhole-border"></span>
                        <span class="blackhole-border"></span>
                        <span class="blackhole-border"></span>
                        <span class="blackhole-border"></span> 
                        <span class="blackhole-ring-front"></span>
                        <span class="blackhole-ring-back"></span> 

                    </div>
                </div>
            </div>
            <div class="arrow right-arrow">&#10095;</div>
        </section>

    <!-- Section Resume -->
    <section id="resume">
        <div class="autoShow">
            <div class="resume-grid">
                <div class="resume-left-side">
                    <h2>Why hire me?</h2>
                    <p>TextTextTextText TextTextTextText</p>
                    <div class="resume-buttons">
                        <button id="btn-experience" class="resume-btn active">Experience</button>
                        <button id="btn-education" class="resume-btn">Education</button>
                        <button id="btn-skills" class="resume-btn">Skills</button>
                        <button id="btn-about" class="resume-btn">About me</button>
                    </div>
                </div>
                <div class="resume-right-side">
                    <h3>My Experience</h3>
                    <div id="experience" class="resume-section active">
                        <div class="experience-item-grid">
                            <div class="experience-item">
                                <p><span>2020</span></p>
                                <p>University projects reparations</p>
                                <h5><i class="ri-building-2-line"></i>Instituto Superior Técnico - Lisbon University</h5>
                            </div>
                            
                            <div class="experience-item">
                                <p><span>2019</span></p>
                                <p>Workshop with python programation - ERASMUS</p>
                                <h5><i class="ri-building-2-line"></i>INETE - Instituto de Educação Técnica</h5>
                            </div>

                            <div class="experience-item">
                                <p><span>2018</span></p>
                                <p>Autonomous Robot</p>
                                <h5><i class="ri-star-fill"></i>RoboParty Lisbon</h5>
                            </div>

                            <div class="experience-item">
                                <p><span>2019</span></p>
                                <p>Monitoring Apnea</p>
                                <h5><i class="ri-star-fill"></i>FAQtos</h5>
                            </div>

                            <div class="experience-item">
                                <p><span>2019</span></p>
                                <p>Projects apresentations</p>
                                <h5><i class="ri-star-fill"></i>Jovens Cientistas and many more...</h5>
                            </div>
                        </div>
                    </div>

                    <div id="education" class="resume-section">
                        <h3>My Education</h3>
                        <div class="education-item">
                            <span>2021 - 2024</span>
                            <p>Informatic Engineer</p>
                        </div>
                        <!-- Mais itens de educação -->
                    </div>

                    <div id="skills" class="resume-section">
                        <h3>My Skills</h3>
                        <p>List your skills here...</p>
                    </div>

                    <div id="about" class="resume-section">
                        <h3>About Me</h3>
                        <p>Details about you...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow left-arrow">&#10094;</div>
        <div class="arrow right-arrow">&#10095;</div>
    </section>

    <!-- Section Work -->
        <section id="work">
            <div class="autoShow">
                <h2>Meus Trabalhos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsum veniam modi dolores ipsam esse 
                eligendi minus corporis optio nam, recusandae consequatur dolorum id libero. Aliquid consectetur magni sint quaerat.</p>
            </div>
            <div class="arrow left-arrow">&#10094;</div>
            <div class="arrow right-arrow">&#10095;</div>
        </section>
        
    <!-- Section Contact -->
        <section id="contact">
            <div class="autoShow">
                <h2>Contato</h2>
                <a href="https://www.linkedin.com/in/rodrigo-anjos-5532a5196/">Linkdine</a>
            </div>
            <div class="arrow left-arrow">&#10094;</div>
            <div class="arrow right-arrow" id="unique-right-arrow">&#10095;</div>
        </section>
    </div>
</body>
</html>
