<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio de Web Designer</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <script defer src="script.js"></script>
</head>

<body>
    <header>
    </header>
    
    <div class="container">
        <section>
            <div class="autoShow">
                <h1>Bem-vindo ao meu Portfólio</h1>
                <p>Sou um web designer especializado em criar experiências digitais incríveis.</p>
            </div>
            <div class="arrow right-arrow">&#10095;</div>
        </section>

        <section>
            <div class="autoShow">
                <h2>Sobre Mim</h2>
                <p>Tenho X anos de experiência em design web, com um foco em criar sites funcionais e esteticamente agradáveis.</p>
            </div>
            <div class="arrow left-arrow">&#10094;</div>
            <div class="arrow right-arrow">&#10095;</div>
        </section>

        <section>
            <div class="autoShow">
                <h2>Meus Trabalhos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsum veniam modi dolores ipsam esse 
                eligendi minus corporis optio nam, recusandae consequatur dolorum id libero. Aliquid consectetur magni sint quaerat.</p>
            </div>
            <div class="arrow left-arrow">&#10094;</div>
            <div class="arrow right-arrow">&#10095;</div>
        </section>

        <section>
            <div class="autoShow">
                <h2>Contato</h2>
                <a href="https://www.linkedin.com/in/rodrigo-anjos-5532a5196/">Linkdine</a>
            </div>
            <div class="arrow left-arrow">&#10094;</div>
        </section>
    </div>

    <footer class="sticky-footer">
        <hr class="line"></hr>
        <div class="contact">
            <a class="logo" href="https://www.linkedin.com/in/rodrigo-anjos-5532a5196/" target="_blank" rel="noopener noreferrer"><i class="ri-linkedin-fill"></i></a>
            <a class="logo" href="https://www.linkedin.com/in/rodrigo-anjos-5532a5196/" target="_blank" rel="noopener noreferrer"><i class="ri-playstation-fill"></i></a>
        </div>
        <hr class="line"></hr>
    </footer>    
</body>
</html>
